In [1]:
from pyspark.sql.types import ArrayType,FloatType,DataType,BooleanType,StructField,IntegerType,StringType,DateType,StructType

In [2]:
person_schema = StructType([
    StructField("id",IntegerType(),True),
    StructField("first_name",StringType(),True),
    StructField("last_name",StringType(),True),
    StructField("fav_movies",ArrayType(StringType()),True),
    StructField("salary",FloatType(),True),
    StructField("image_url",StringType(),True),
    StructField("date_of_birth",DateType(),True),
    StructField("active",BooleanType(),True)
])

In [3]:
json_path = "C:\zlab\Apache-Spark-3-for-Data-Engineering-and-Analytics-with-Python--main\Section4\persons.json"
df = (spark.read.json(json_path, person_schema, multiLine=True))

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- fav_movies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- salary: float (nullable = true)
 |-- image_url: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- active: boolean (nullable = true)

In [5]:
df.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

## Column and Expression

In [6]:
from pyspark.sql.functions import col,expr

In [7]:
df.select(col("first_name"),col("last_name"),col("date_of_birth")).show(5)

+----------+---------+-------------+
|first_name|last_name|date_of_birth|
+----------+---------+-------------+
|     Drucy|    Poppy|   1991-02-16|
|   Emelyne|    Blaza|   1991-11-02|
|       Max|   Rettie|   1990-03-03|
|    Ilario|     Kean|   1987-06-09|
|     Toddy|   Drexel|   1992-10-28|
+----------+---------+-------------+
only showing top 5 rows

In [8]:
df.select(expr("first_name"),expr("last_name"),expr("date_of_birth")).show(5)

+----------+---------+-------------+
|first_name|last_name|date_of_birth|
+----------+---------+-------------+
|     Drucy|    Poppy|   1991-02-16|
|   Emelyne|    Blaza|   1991-11-02|
|       Max|   Rettie|   1990-03-03|
|    Ilario|     Kean|   1987-06-09|
|     Toddy|   Drexel|   1992-10-28|
+----------+---------+-------------+
only showing top 5 rows

### So sánh lần 1 col và expr khi gọi các cột cụ thể
Ta thấy col và expr không khác gì nhau khi gọi các cột cụ thể<br> Vậy điều gì giúp phân biệt 2 hàm này

In [9]:
from pyspark.sql.functions import concat_ws

In [10]:
(df.select(concat_ws(" ", col("first_name"),col("last_name")).alias("full_name"),
col("salary"),
(col("salary")*0.10+col("salary")).alias("salary_increase"))).show(10)

+----------------+-------+------------------+
|       full_name| salary|   salary_increase|
+----------------+-------+------------------+
|     Drucy Poppy|1463.36|1609.6959838867188|
|   Emelyne Blaza|3006.04|  3306.64404296875|
|      Max Rettie|1422.88|1565.1680053710938|
|     Ilario Kean|3561.36|3917.4961181640624|
|    Toddy Drexel|4934.87|  5428.35712890625|
| Oswald Petrolli|1153.23| 1268.552978515625|
|   Adrian Clarey|1044.73| 1149.202978515625|
|Dominica Goodnow|1147.76|1262.5360107421875|
|   Emory Slocomb|1082.11|1190.3209838867188|
|   Jeremias Bode|3472.63|  3819.89287109375|
+----------------+-------+------------------+
only showing top 10 rows

In [11]:
(df.select(concat_ws(" ", col("first_name"),col("last_name")).alias("full_name"),
col("salary"),
(expr("salary*0.10+salary")).alias("salary_increase"))).show(10)

+----------------+-------+------------------+
|       full_name| salary|   salary_increase|
+----------------+-------+------------------+
|     Drucy Poppy|1463.36|1609.6959838867188|
|   Emelyne Blaza|3006.04|  3306.64404296875|
|      Max Rettie|1422.88|1565.1680053710938|
|     Ilario Kean|3561.36|3917.4961181640624|
|    Toddy Drexel|4934.87|  5428.35712890625|
| Oswald Petrolli|1153.23| 1268.552978515625|
|   Adrian Clarey|1044.73| 1149.202978515625|
|Dominica Goodnow|1147.76|1262.5360107421875|
|   Emory Slocomb|1082.11|1190.3209838867188|
|   Jeremias Bode|3472.63|  3819.89287109375|
+----------------+-------+------------------+
only showing top 10 rows

### sang tới việc ghép chồng first name và last name thành full name và cộng salary
Điểm khác biệt là col tuân theo key-value và muốn lấy giá trị thì bắt buộc phải gọi key thông qua hàm<br>
trong khi đó expr thì không cần, có thể cộng trừ trực tiếp trong chuỗi

# vid 12: 
### filter and where condition

In [12]:
df.filter("salary<3000").show(10)

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  3|       Max|     Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  6|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 11|   Timothy|     Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
| 12|   Leanora|     Gooder|[It's All About L...|1327.02|http://dummyimage...|   1981-12-17| false|
| 13|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|http://dummyimage...|   1996-03-07| false|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [13]:
df.where("salary<3000").show(10)

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  3|       Max|     Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  6|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 11|   Timothy|     Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
| 12|   Leanora|     Gooder|[It's All About L...|1327.02|http://dummyimage...|   1981-12-17| false|
| 13|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|http://dummyimage...|   1996-03-07| false|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

ta thấy rằng với những lệnh cơ bản thì nó sẽ cho những kết quả khá giống nhau<br>
giờ ta sẽ tới với các lệnh nâng cao để so sánh sự khác biệt

In [14]:
df.where((col("salary")<=3000) & (col("active")=="true")).show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 16|   Margaux| Archbold|[And Now a Word f...|1013.75|http://dummyimage...|   1988-07-29|  true|
| 26|     Clive|      Lax|             [Rabid]|2126.87|http://dummyimage...|   1981-10-26|  true|
| 33|  Sherline|  Primett|   [Jungle Fighters]|2309.39|http://dummyimage...|   1972-07-23|  true|
| 34|     Davis|    Pinks|          [Hounddog]|1337.14|http://dummyimage...|   1989-07-27|  true|
| 37|    Carlen|  Sharply|[Dr. Jekyll and M...|2051.85|http://dummyimage...|   2002-06-01|  true|
| 40|    Jordan|   Lorant|[Shockproof, Bach...|2183.91|http://dummyimage...|   1979-07-29|  true|
| 49| Kendricks|      Kee|   [Flower & Garnet]|2304.39|http://dummyimage...|   1999-11-14|  true|
| 57|   Krystle|  Shovell|[Doomsday, Flight...|2260.76|http://dummyimage...|   1987-09-01|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [15]:
from pyspark.sql.functions import year

In [16]:
df.filter((year("date_of_birth")==2000) | (year("date_of_birth")==1989)).show(10)

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|http://dummyimage...|   2000-10-20|  true|
| 32|      Redd|   Akenhead|[Century of the D...| 2470.9|http://dummyimage...|   2000-06-05| false|
| 34|     Davis|      Pinks|          [Hounddog]|1337.14|http://dummyimage...|   1989-07-27|  true|
| 61|    Shanna|    Samples|[Thomas in Love (...| 2703.0|http://dummyimage...|   1989-07-07| false|
| 69|  Annabell|    Doughty|[Entertaining Ang...|2022.57|http://dummyimage...|   2000-09-03|  true|
| 74|     Micky|     Umfrey|[Haunted House, T...|1271.82|http://dummyimage...|   1989-07-04| false|
| 88|     Jobie|    Maughan|[Devils on the Do...| 3899.2|http://dummyimage...|   2000-02-07| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+

In [17]:
from pyspark.sql.functions import array_contains

In [18]:
df.where(array_contains(df.fav_movies,"a")).show()

+---+----------+---------+----------+------+---------+-------------+------+
| id|first_name|last_name|fav_movies|salary|image_url|date_of_birth|active|
+---+----------+---------+----------+------+---------+-------------+------+
+---+----------+---------+----------+------+---------+-------------+------+

# Distinct, Drop Duplicates, Order By

In [19]:
from pyspark.sql.functions import count, desc

In [20]:
df.select("active").distinct().show()

+------+
|active|
+------+
|  true|
| false|
+------+

In [21]:
df.select(col("first_name"),
         year(col("date_of_birth")).alias("year"),
         col("active")).orderBy("year","first_name").show(10)

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|    Adrian|1971| false|
|   Feodora|1971|  true|
|       Sky|1971| false|
|   Timothy|1971| false|
|    Lucita|1972|  true|
|      Rodi|1972| false|
|  Sherline|1972|  true|
|     Toddy|1972|  true|
|  Dominica|1973| false|
|    Kelila|1973|  true|
+----------+----+------+
only showing top 10 rows

In [22]:
df.select(col("first_name"),
         year(col("date_of_birth")).alias("year"),
         col("active")).dropDuplicates(["year","active"]).orderBy("year","first_name").show(10)

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|    Adrian|1971| false|
|   Feodora|1971|  true|
|      Rodi|1972| false|
|  Sherline|1972|  true|
|  Dominica|1973| false|
|    Kelila|1973|  true|
|   Balduin|1974| false|
|     Emory|1974|  true|
|    Janean|1975|  true|
|       Bev|1976|  true|
+----------+----+------+
only showing top 10 rows

# Row and Union

In [23]:
from pyspark.sql import Row

Thêm một hàng

In [24]:
person_row = Row(101,"Robert","Ownes",["Men in black III","Home Alone"],4340.5,"http://imagesss.com","1964-08-18",True)

In [25]:
row_list = [Row(102,"do","kien",["Men in black III","Home Alone"],4340.5,"http://imagesss.com","1964-08-18",True),
           Row(103,"nguyen","thi",["Men in black III","Home Alone"],4340.5,"http://imagesss.com","1964-08-18",True),
           Row(104,"van","anh",["Men in black III","Home Alone"],4340.5,"http://imagesss.com","1964-08-18",True)]

In [26]:
row_list.append(person_row)

In [27]:
print(row_list)

[<Row(102, 'do', 'kien', ['Men in black III', 'Home Alone'], 4340.5, 'http://imagesss.com', '1964-08-18', True)>, <Row(103, 'nguyen', 'thi', ['Men in black III', 'Home Alone'], 4340.5, 'http://imagesss.com', '1964-08-18', True)>, <Row(104, 'van', 'anh', ['Men in black III', 'Home Alone'], 4340.5, 'http://imagesss.com', '1964-08-18', True)>, <Row(101, 'Robert', 'Ownes', ['Men in black III', 'Home Alone'], 4340.5, 'http://imagesss.com', '1964-08-18', True)>]

In [28]:
row_list[1]

In [29]:
new_df = spark.createDataFrame(row_list,["id","first_name","last_name","fav_movies","salary","image_url","date_of_birth","active"])

In [30]:
add_df = df.union(new_df)
add_df.sort(desc("id")).show(10)

+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies|            salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
|104|       van|      anh|[Men in black III...|            4340.5| http://imagesss.com|   1964-08-18|  true|
|103|    nguyen|      thi|[Men in black III...|            4340.5| http://imagesss.com|   1964-08-18|  true|
|102|        do|     kien|[Men in black III...|            4340.5| http://imagesss.com|   1964-08-18|  true|
|101|    Robert|    Ownes|[Men in black III...|            4340.5| http://imagesss.com|   1964-08-18|  true|
|100|    Virgie| Domanski|[Horseman, The, S...| 2165.929931640625|http://dummyimage...|   2002-01-05|  true|
| 99|   Rozalie|   Wannop|[Suddenly, The No...|1259.6400146484375|http://dummyimage...|   1997-03-25| false|
| 98|     Davin|     Labb|[Viva Riva!, Kill...| 1452.739990234375|http://dummyimage...|   1988-01-27|  true|
| 97|      Rodi|   Farnan|[Code, The (Menta...|   2325.8798828125|http://dummyimage...|   1972-01-04| false|
| 96|       Dew| Coopland|              [Rush]|  2725.56005859375|http://dummyimage...|   1986-11-14| false|
| 95|      Cobb|  MacLure|[Storage 24, His ...|1621.1700439453125|http://dummyimage...|   1994-06-28| false|
+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
only showing top 10 rows

# Adding, Renaming, Dropping Column

In [31]:
from pyspark.sql.functions import round

Bây giờ ta sẽ thêm một cột "salary_increase" vào data frame

In [32]:
add_col = df.withColumn("salary_increase",expr("salary*0.10+salary"))
add_col.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|   salary_increase|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|1609.6959838867188|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|  3306.64404296875|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|1565.1680053710938|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|3917.4961181640624|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|  5428.35712890625|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false| 1268.552978515625|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false| 1149.202978515625|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|1262.5360107421875|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|1190.3209838867188|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|  3819.89287109375|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
only showing top 10 rows

In [33]:
add_col.columns

['id',
 'first_name',
 'last_name',
 'fav_movies',
 'salary',
 'image_url',
 'date_of_birth',
 'active',
 'salary_increase']

In [34]:
fix_df = (add_col
         .withColumn("birth_year",year("date_of_birth"))
         .withColumnRenamed("fav_movies","movies")
         .withColumn("salaryX10",round(col("salary_increase"),2))
         .drop("salary_increase"))

In [35]:
fix_df.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+----------+---------+
| id|first_name|last_name|              movies| salary|           image_url|date_of_birth|active|birth_year|salaryX10|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+----------+---------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|      1991|   1609.7|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|      1991|  3306.64|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|      1990|  1565.17|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|      1987|   3917.5|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|      1992|  5428.36|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|      1986|  1268.55|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|      1971|   1149.2|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|      1973|  1262.54|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|      1974|  1190.32|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|      1997|  3819.89|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+----------+---------+
only showing top 10 rows

# Working with missing or bad Data

In [36]:
bad_movies_list = [Row(None, None, None),
                   Row(None, None, 2020),
                   Row("John Doe", "Awesome Movie", None),
                   Row(None, "Awesome Movie", 2021),
                   Row("Mary Jane", None, 2019),
                   Row("Vikter Duplaix", "Not another teen movie", 2001)]

In [37]:
bad_columns = ["actor_name","movie_title","produced_year"]

In [38]:
bad_df = spark.createDataFrame(bad_movies_list,schema=bad_columns)

In [39]:
bad_df.show(10)

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|          null|                null|         null|
|          null|                null|         2020|
|      John Doe|       Awesome Movie|         null|
|          null|       Awesome Movie|         2021|
|     Mary Jane|                null|         2019|
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [40]:
bad_df.na.drop().show()

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [41]:
# drop bất kì cột nào có null
bad_df.na.drop("any").show()

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [42]:
# drop cột mà có tất cả đều null
bad_df.na.drop("all").show()

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|          null|                null|         2020|
|      John Doe|       Awesome Movie|         null|
|          null|       Awesome Movie|         2021|
|     Mary Jane|                null|         2019|
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [43]:
# xoá tất cả giá trị null ở cột cụ thể
bad_df.filter(col("actor_name").isNull() != True).show()

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|      John Doe|       Awesome Movie|         null|
|     Mary Jane|                null|         2019|
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [44]:
bad_df.describe("produced_year").show()

+-------+-----------------+
|summary|    produced_year|
+-------+-----------------+
|  count|                4|
|   mean|          2015.25|
| stddev|9.535023160258536|
|    min|             2001|
|    max|             2021|
+-------+-----------------+

In [45]:
from pyspark.sql.functions import udf

In [46]:
students_list = [("kien",20),
                ("phuong",15),
                ("anh",21)]

In [47]:
students_column = ["name","score"]

In [48]:
student_df = spark.createDataFrame(students_list,schema=students_column)

In [49]:
student_df.show()

+------+-----+
|  name|score|
+------+-----+
|  kien|   20|
|phuong|   15|
|   anh|   21|
+------+-----+

In [50]:
def letterGrade(score:int):
    grade = ''
    if(score>100):
        grade = null
    elif(score>85):
        grade = "A"
    elif(score>70):
        grade = "B"
    elif(score>50):
        grade = "C"
    elif(score>40):
        grade = "D"
    else:
        grade = "F"
    return grade

In [51]:
gradeUDF = udf(letterGrade)

In [52]:
student_df.select("name","score", gradeUDF(col("score")).alias("grade")).show()

+------+-----+-----+
|  name|score|grade|
+------+-----+-----+
|  kien|   20|    F|
|phuong|   15|    F|
|   anh|   21|    F|
+------+-----+-----+

# Aggregations

In [53]:
flight_file = "flight/flight-summary.csv"
flight_df = (spark.read.format("csv")
                .option("header","true")
                .option("inferSchema","true")
                .load(flight_file))

In [54]:
flight_df.count()

4693

In [55]:
flight_df.show(10)

+-----------+--------------------+------------+------------+---------+--------------------+----------------+----------+-----+
|origin_code|      origin_airport| origin_city|origin_state|dest_code|        dest_airport|       dest_city|dest_state|count|
+-----------+--------------------+------------+------------+---------+--------------------+----------------+----------+-----+
|        BQN|Rafael Hernández ...|   Aguadilla|          PR|      MCO|Orlando Internati...|         Orlando|        FL|  441|
|        PHL|Philadelphia Inte...|Philadelphia|          PA|      MCO|Orlando Internati...|         Orlando|        FL| 4869|
|        MCI|Kansas City Inter...| Kansas City|          MO|      IAH|George Bush Inter...|         Houston|        TX| 1698|
|        SPI|Abraham Lincoln C...| Springfield|          IL|      ORD|Chicago O'Hare In...|         Chicago|        IL|  998|
|        SNA|John Wayne Airpor...|   Santa Ana|          CA|      PHX|Phoenix Sky Harbo...|         Phoenix|        AZ| 3846|
|        LBB|Lubbock Preston S...|     Lubbock|          TX|      DEN|Denver Internatio...|          Denver|        CO|  618|
|        ORD|Chicago O'Hare In...|     Chicago|          IL|      PDX|Portland Internat...|        Portland|        OR| 2149|
|        EWR|Newark Liberty In...|      Newark|          NJ|      STT|Cyril E. King Air...|Charlotte Amalie|        VI|  239|
|        ATL|Hartsfield-Jackso...|     Atlanta|          GA|      GSP|Greenville-Sparta...|           Greer|        SC| 2470|
|        MCI|Kansas City Inter...| Kansas City|          MO|      MKE|General Mitchell ...|       Milwaukee|        WI|  612|
+-----------+--------------------+------------+------------+---------+--------------------+----------------+----------+-----+
only showing top 10 rows

In [56]:
flight_df = flight_df.withColumnRenamed("origin_code","code")
flight_df.show(10)

+----+--------------------+------------+------------+---------+--------------------+----------------+----------+-----+
|code|      origin_airport| origin_city|origin_state|dest_code|        dest_airport|       dest_city|dest_state|count|
+----+--------------------+------------+------------+---------+--------------------+----------------+----------+-----+
| BQN|Rafael Hernández ...|   Aguadilla|          PR|      MCO|Orlando Internati...|         Orlando|        FL|  441|
| PHL|Philadelphia Inte...|Philadelphia|          PA|      MCO|Orlando Internati...|         Orlando|        FL| 4869|
| MCI|Kansas City Inter...| Kansas City|          MO|      IAH|George Bush Inter...|         Houston|        TX| 1698|
| SPI|Abraham Lincoln C...| Springfield|          IL|      ORD|Chicago O'Hare In...|         Chicago|        IL|  998|
| SNA|John Wayne Airpor...|   Santa Ana|          CA|      PHX|Phoenix Sky Harbo...|         Phoenix|        AZ| 3846|
| LBB|Lubbock Preston S...|     Lubbock|          TX|      DEN|Denver Internatio...|          Denver|        CO|  618|
| ORD|Chicago O'Hare In...|     Chicago|          IL|      PDX|Portland Internat...|        Portland|        OR| 2149|
| EWR|Newark Liberty In...|      Newark|          NJ|      STT|Cyril E. King Air...|Charlotte Amalie|        VI|  239|
| ATL|Hartsfield-Jackso...|     Atlanta|          GA|      GSP|Greenville-Sparta...|           Greer|        SC| 2470|
| MCI|Kansas City Inter...| Kansas City|          MO|      MKE|General Mitchell ...|       Milwaukee|        WI|  612|
+----+--------------------+------------+------------+---------+--------------------+----------------+----------+-----+
only showing top 10 rows

In [57]:
flight_df = flight_df.withColumnRenamed("count","flight_count")
flight_df.show(10)

+----+--------------------+------------+------------+---------+--------------------+----------------+----------+------------+
|code|      origin_airport| origin_city|origin_state|dest_code|        dest_airport|       dest_city|dest_state|flight_count|
+----+--------------------+------------+------------+---------+--------------------+----------------+----------+------------+
| BQN|Rafael Hernández ...|   Aguadilla|          PR|      MCO|Orlando Internati...|         Orlando|        FL|         441|
| PHL|Philadelphia Inte...|Philadelphia|          PA|      MCO|Orlando Internati...|         Orlando|        FL|        4869|
| MCI|Kansas City Inter...| Kansas City|          MO|      IAH|George Bush Inter...|         Houston|        TX|        1698|
| SPI|Abraham Lincoln C...| Springfield|          IL|      ORD|Chicago O'Hare In...|         Chicago|        IL|         998|
| SNA|John Wayne Airpor...|   Santa Ana|          CA|      PHX|Phoenix Sky Harbo...|         Phoenix|        AZ|        3846|
| LBB|Lubbock Preston S...|     Lubbock|          TX|      DEN|Denver Internatio...|          Denver|        CO|         618|
| ORD|Chicago O'Hare In...|     Chicago|          IL|      PDX|Portland Internat...|        Portland|        OR|        2149|
| EWR|Newark Liberty In...|      Newark|          NJ|      STT|Cyril E. King Air...|Charlotte Amalie|        VI|         239|
| ATL|Hartsfield-Jackso...|     Atlanta|          GA|      GSP|Greenville-Sparta...|           Greer|        SC|        2470|
| MCI|Kansas City Inter...| Kansas City|          MO|      MKE|General Mitchell ...|       Milwaukee|        WI|         612|
+----+--------------------+------------+------------+---------+--------------------+----------------+----------+------------+
only showing top 10 rows

### một số hàm thông dụng mà bạn nên nhớ
count(col): trả về số lượng của mỗi giá trị khác nhau trong cột được chọn<br>
countDistinct(col): trả về các giá trị riêng biệt ở cột được chọn<br>
approx_count_distinct(col): trả về giá trị xấp xỉ của các giá trị trong cột <br>
min(col): trả về giá trị nhỏ nhất<br>
max(col): trả về giá trị lớn nhất<br>
sum(col): cộng tổng lại các giá trị trong cột<br>
sumDistinct(col): cộng tổng các giá trị riêng biệt <br>
avg(col): trả về giá trị trung bình của cột<br>
skewness(col): trả về độ lệch so với phân phối<br>
kurtosis(col): trả về độ nhọn của phân phối

In [58]:
from pyspark.sql.functions import count, countDistinct

In [59]:
flight_df.select(count("origin_airport"),count("dest_airport")).show()

+---------------------+-------------------+
|count(origin_airport)|count(dest_airport)|
+---------------------+-------------------+
|                 4693|               4693|
+---------------------+-------------------+

ở đây ta có thể thấy rắng kết quả trả về ở 2 cột tương đối giống nhau<br>
nguyên nhân là ở đây không có giá trị null nên bằng nhau <br>
nếu một trong 2 cột có giá trị null thì kq trả về ở 2 cột sẽ khác nhau<br>
bây giờ để làm rõ ta sẽ so với dữ liệu movie

In [60]:
bad_df.show(10)

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|          null|                null|         null|
|          null|                null|         2020|
|      John Doe|       Awesome Movie|         null|
|          null|       Awesome Movie|         2021|
|     Mary Jane|                null|         2019|
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [62]:
bad_df.select(count("actor_name"),count("movie_title"),count("produced_year"),count("*")).show()

+-----------------+------------------+--------------------+--------+
|count(actor_name)|count(movie_title)|count(produced_year)|count(1)|
+-----------------+------------------+--------------------+--------+
|                3|                 3|                   4|       6|
+-----------------+------------------+--------------------+--------+

ta thấy rắng tổng cộng có 6 dòng dữ liệu nhưng count của các cột khác trả về ít hơn thế<br>
chứng tỏ một điều rằng dữ liệu không được đếm là dữ liệu null

In [63]:
flight_df.select(countDistinct("origin_airport"),countDistinct("dest_airport"),count("*")).show()

+------------------------------+----------------------------+--------+
|count(DISTINCT origin_airport)|count(DISTINCT dest_airport)|count(1)|
+------------------------------+----------------------------+--------+
|                           322|                         322|    4693|
+------------------------------+----------------------------+--------+

In [64]:
from pyspark.sql.functions import min,max,sum,avg, sumDistinct

In [65]:
flight_df.select(min("flight_count"),max("flight_count")).show()

+-----------------+-----------------+
|min(flight_count)|max(flight_count)|
+-----------------+-----------------+
|                1|            13744|
+-----------------+-----------------+

In [66]:
flight_df.select(sum("flight_count")).show()

+-----------------+
|sum(flight_count)|
+-----------------+
|          5332914|
+-----------------+

In [67]:
student_df.show()

+------+-----+
|  name|score|
+------+-----+
|  kien|   20|
|phuong|   15|
|   anh|   21|
+------+-----+

In [68]:
student_df.select(sum("score")).show()

+----------+
|sum(score)|
+----------+
|        56|
+----------+

In [73]:
student_df = student_df.union(student_df)

In [74]:
student_df.show()

+------+-----+
|  name|score|
+------+-----+
|  kien|   20|
|phuong|   15|
|   anh|   21|
|  kien|   20|
|phuong|   15|
|   anh|   21|
+------+-----+

In [75]:
student_df.select(sum("score")).show()

+----------+
|sum(score)|
+----------+
|       112|
+----------+

sau khi union thì ta thấy rằng đã có những bản ghi trùng nhau <br>
vậy sumDistinct giúp cộng những bản ghi không trùng nhau lại <br>

In [76]:
student_df.select(sumDistinct("score")).show()

+-------------------+
|sum(DISTINCT score)|
+-------------------+
|                 56|
+-------------------+

In [78]:
flight_df.select(sumDistinct("flight_count")).show()

+--------------------------+
|sum(DISTINCT flight_count)|
+--------------------------+
|                   3612257|
+--------------------------+

In [80]:
flight_df.select(avg("flight_count"),sum("flight_count")/count("flight_count")).show()

+------------------+-----------------------------------------+
| avg(flight_count)|(sum(flight_count) / count(flight_count))|
+------------------+-----------------------------------------+
|1136.3549968037503|                       1136.3549968037503|
+------------------+-----------------------------------------+

In [83]:
flight_df.groupBy("origin_airport").count().orderBy("count",ascending=False ).show(10,False)

+------------------------------------------------+-----+
|origin_airport                                  |count|
+------------------------------------------------+-----+
|Hartsfield-Jackson Atlanta International Airport|169  |
|Chicago O'Hare International Airport            |162  |
|Dallas/Fort Worth International Airport         |148  |
|Denver International Airport                    |139  |
|Minneapolis-Saint Paul International Airport    |120  |
|George Bush Intercontinental Airport            |119  |
|Detroit Metropolitan Airport                    |112  |
|Salt Lake City International Airport            |89   |
|Newark Liberty International Airport            |88   |
|Los Angeles International Airport               |80   |
+------------------------------------------------+-----+
only showing top 10 rows

ở trên là nhóm các airport lại và đếm sau đó sẽ sắp xếp theo thứ tự giảm dần

In [85]:
(flight_df.groupBy("origin_airport")
        .agg(max("flight_count").alias("max_flight_count"))
            .orderBy("max_flight_count",ascending=False)).show(10,False)

+----------------------------------------------------------------------+----------------+
|origin_airport                                                        |max_flight_count|
+----------------------------------------------------------------------+----------------+
|San Francisco International Airport                                   |13744           |
|Los Angeles International Airport                                     |13457           |
|John F. Kennedy International Airport (New York International Airport)|12016           |
|McCarran International Airport                                        |9715            |
|LaGuardia Airport (Marine Air Terminal)                               |9639            |
|Chicago O'Hare International Airport                                  |9575            |
|Kahului Airport                                                       |8313            |
|Honolulu International Airport                                        |8282            |
|Hartsfield-Jackson Atlanta International Airport                      |8234            |
|Orlando International Airport                                         |8202            |
+----------------------------------------------------------------------+----------------+
only showing top 10 rows

In [88]:
(flight_df.groupBy("origin_state","origin_city")
         .count()
         .where(col("origin_state")=="CA")
         .orderBy("count",ascending=False)
).show(10,False)

+------------+-------------+-----+
|origin_state|origin_city  |count|
+------------+-------------+-----+
|CA          |San Francisco|80   |
|CA          |Los Angeles  |80   |
|CA          |San Diego    |47   |
|CA          |Oakland      |35   |
|CA          |Sacramento   |27   |
|CA          |San Jose     |25   |
|CA          |Santa Ana    |22   |
|CA          |Ontario      |14   |
|CA          |Palm Springs |12   |
|CA          |Long Beach   |12   |
+------------+-------------+-----+
only showing top 10 rows

In [91]:
(flight_df.groupBy("origin_airport")
        .agg(max("flight_count"),
        min("flight_count"),
            sum("flight_count"),
            count("flight_count"))).show(10)

+--------------------+-----------------+-----------------+-----------------+-------------------+
|      origin_airport|max(flight_count)|min(flight_count)|sum(flight_count)|count(flight_count)|
+--------------------+-----------------+-----------------+-----------------+-------------------+
|Melbourne Interna...|             1332|             1332|             1332|                  1|
|San Diego Interna...|             6942|                4|            70207|                 46|
|     Eppley Airfield|             2083|                1|            16753|                 21|
|     Kahului Airport|             8313|               67|            20627|                 18|
|Austin-Bergstrom ...|             4674|                8|            42067|                 41|
|Port Columbus Int...|             3266|               21|            24187|                 28|
|Waco Regional Air...|             1612|             1612|             1612|                  1|
|Sacramento Intern...|             5574|               49|            37212|                 27|
|Brownsville/South...|             1303|             1059|             2362|                  2|
|       Meadows Field|              875|              492|             2637|                  4|
+--------------------+-----------------+-----------------+-----------------+-------------------+
only showing top 10 rows