In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType

In [2]:
spark = (SparkSession.builder.appName("Challenge 2").getOrCreate())

### tại sao khi load ta lại để hết StringType 
#### Vì rất có thể dữ liệu đang bị sai mà load vào sẽ không nhận và bị lỗi trong khi load
#### trong khi đó stringtype nhận mọi loại dữ liệu, ta có thể load vào và xử lý từ từ

In [3]:
sale_df = StructType([
    StructField("Order ID",StringType(),True),
    StructField("Product",StringType(),True),
    StructField("Quantity",StringType(),True),
    StructField("Price",StringType(),True),
    StructField("Order Date",StringType(),True),
    StructField("Address",StringType(),True)
])

In [4]:
sale_path = "salesdata"
sale_df = (spark.read.format("csv")
          .option("header",True)
          .schema(sale_df)
          .load(sale_path))
sale_df.show(10)

+--------+--------------------+--------+------+--------------+--------------------+
|Order ID|             Product|Quantity| Price|    Order Date|             Address|
+--------+--------------------+--------+------+--------------+--------------------+
|  295665|  Macbook Pro Laptop|       1|  1700|12/30/19 00:01|136 Church St, Ne...|
|  295666|  LG Washing Machine|       1| 600.0|12/29/19 07:03|562 2nd St, New Y...|
|  295667|USB-C Charging Cable|       1| 11.95|12/12/19 18:21|277 Main St, New ...|
|  295668|    27in FHD Monitor|       1|149.99|12/22/19 15:13|410 6th St, San F...|
|  295669|USB-C Charging Cable|       1| 11.95|12/18/19 12:38|43 Hill St, Atlan...|
|  295670|AA Batteries (4-p...|       1|  3.84|12/31/19 22:58|200 Jefferson St,...|
|  295671|USB-C Charging Cable|       1| 11.95|12/16/19 15:10|928 12th St, Port...|
|  295672|USB-C Charging Cable|       2| 11.95|12/13/19 09:29|813 Hickory St, D...|
|  295673|Bose SoundSport H...|       1| 99.99|12/15/19 23:26|718 Wilson St, Da...|
|  295674|AAA Batteries (4-...|       4|  2.99|12/28/19 11:51|77 7th St, Dallas...|
+--------+--------------------+--------+------+--------------+--------------------+
only showing top 10 rows

In [5]:
from pyspark.sql.functions import col

In [6]:
sale_df.filter(col("Order ID") == "Order ID").show(10)

+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|        Quantity|     Price|Order Date|         Address|
+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+
only showing top 10 rows

### Xoá các hàng bị null và sai
#### bây giờ ta sẽ thực hiện xoá các cột bị null 
#### tiếp theo sẽ xoá các cột có giá trị không mong muốn như sai type, sai kiểu dữ liệu

In [15]:
sale_df.filter(col("Order ID").isNull()==True).show(10)

+--------+-------+--------+-----+----------+-------+
|Order ID|Product|Quantity|Price|Order Date|Address|
+--------+-------+--------+-----+----------+-------+
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
|    null|   null|    null| null|      null|   null|
+--------+-------+--------+-----+----------+-------+
only showing top 10 rows

In [16]:
sale_df = sale_df.na.drop("any")

In [17]:
sale_df.filter(col("Order ID").isNull()==True).show(10)

+--------+-------+--------+-----+----------+-------+
|Order ID|Product|Quantity|Price|Order Date|Address|
+--------+-------+--------+-----+----------+-------+
+--------+-------+--------+-----+----------+-------+

In [19]:
sale_df.describe("Order ID","Product","Quantity","Price","Order Date","Address").show()

+-------+------------------+------------+------------------+------------------+--------------+--------------------+
|summary|          Order ID|     Product|          Quantity|             Price|    Order Date|             Address|
+-------+------------------+------------+------------------+------------------+--------------+--------------------+
|  count|            186305|      186305|            186305|            186305|        186305|              186305|
|   mean| 230417.5693788653|        null|1.1243828986286637|184.39973476747707|          null|                null|
| stddev|51512.737109995265|        null|0.4427926240286704| 332.7313298843439|          null|                null|
|    min|            141234|20in Monitor|                 1|            109.99|01/01/19 03:07|1 11th St, Atlant...|
|    max|          Order ID|      iPhone|  Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+------------------+------------------+--------------+--------------------+

### ta thấy rằng có một vài vấn đề không đúng ở đây, ví dụ
#### cột id đáng ra chỉ có  số nhưng lại có những giá trị như "Order ID"
#### và các cột còn lại có rất nhiều giá trị bất hợp lý ở hàng max
#### đầu tiên ở dưới ta thực hiện xoá những bản ghi trùng lặp

In [20]:
distinct_df = sale_df.distinct()

In [21]:
distinct_df.filter(col("Order ID")== "Order ID").show(10)

+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|        Quantity|     Price|Order Date|         Address|
+--------+-------+----------------+----------+----------+----------------+
|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|
+--------+-------+----------------+----------+----------+----------------+

In [22]:
clean_df = distinct_df.filter(col("Order ID") != "Order ID")

In [23]:
clean_df.filter(col("Order ID") == "Order ID").show(10)

+--------+-------+--------+-----+----------+-------+
|Order ID|Product|Quantity|Price|Order Date|Address|
+--------+-------+--------+-----+----------+-------+
+--------+-------+--------+-----+----------+-------+

In [25]:
clean_df.describe("Order ID","Product","Quantity","Price","Order Date","Address").show()

+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|summary|          Order ID|     Product|           Quantity|             Price|    Order Date|             Address|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|  count|            185686|      185686|             185686|            185686|        185686|              185686|
|   mean|230411.37622653297|        null| 1.1245435843305365|184.51925546352425|          null|                null|
| stddev| 51511.71718332087|        null|0.44306873838328736|332.84383839005227|          null|                null|
|    min|            141234|20in Monitor|                  1|            109.99|01/01/19 03:07|1 11th St, Atlant...|
|    max|            319670|      iPhone|                  9|            999.99|12/31/19 23:53|999 Wilson St, Sa...|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+

#### bây giờ ở các cột ta đã thấy rằng giá trị đúng cần tìm đúng là số, chữ hay địa chỉ chứ không phải sai thể loại nữa